{% extends 'chatapp/base.html' %}

{% load static %}

{% block content %}
      <img src="{% static '/untitled.png' %}" style="width:65%; height:65%;" alt="Not-Found">
      <p class="lead fw-normal"  style="color:white;">It's a chat system based on JWT trade, <b>Ai4bharat</b> transliteration and Django's Multilayer Channels. Aims to create a cross-language chat application for conversation in various languages.</p>
      <a class="btn btn-outline-secondary"  style="color:white;" href="#">Coming soon</a>
{% endblock content %}
